.js-chocolate {
    max-width: 1400px; /* js */
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.js-item {
    background: #cbdcf3;
    border: thin solid #a6bfcc;
    box-sizing: border-box;
    transition: all ease .5s; /* js */
    box-shadow: rgba(0,0,0,.13) 0 5px 10px;
}

.js-item > p {
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #252525;
    text-align: center;
}

.js-item > .icon-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.js-item > .icon-container > i {
    font-size: 60px;
}